.sidebar {
    overflow-x: hidden;
    height: 100%;
}

/* the black line at the top of the page*/
.header {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 100%;
    box-shadow: none;
    background-color: black;
    position: fixed;
    height: 60px!important;
    overflow: hidden;
    z-index: 10;
}

/* style and size for side bar menu */
#sidebarMenu {
    height: 100%;
    position: fixed;
    left: 0;
    width: 250px;
    margin-top: 60px;
    padding-top: 30px;
    transform: translateX(-250px);
    transition: transform 0.5s ease-in-out;
    background: white;
}

/* style for the content inside of the sidebar menu*/
.sidebarMenuInner li{
    list-style: none;
    color: black;
    padding: 10px;
    font-size: 30px;
    cursor: pointer;
    text-decoration: none;
}


input[type="checkbox"]:checked ~ #sidebarMenu {
    transform: translateX(0);
}

/* made to create the functionality of the hamburger*/
input[type=checkbox] {
    transition: all 0.3s;
    box-sizing: border-box;
    display: none;
}

/* takes care of the size of the overall hamburger */
.sidebarIconToggle {
    transition: all 0.3s;
    box-sizing: border-box;
    cursor: pointer;
    position: absolute;
    z-index: 99;
    height: 100%;
    width: 100%;
    top: 22px;
    left: 15px;
    height: 22px;
    width: 22px;
}

/* shows the name of the app on the top navbar */
.sidebarIconToggle::after {
    content: "Pomodoro";
    font-size: large;
    padding-left: 40px;
    position: relative;
    top: -17px;
    color: white;
}

/* takes care of the size and color of each line of the hamburger */
.hamburger {
    transition: all 0.3s;
    box-sizing: border-box;
    position: absolute;
    height: 3px;
    width: 100%;
    background-color: #fff;
}

/* first line of the hamburger */
.part1 {
    position: relative;
    transition: all 0.3s;
    box-sizing: border-box;
    float: left;
}

/* second line of the hamburger */
.part2 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

/* third line of the hamburger */
.part3 {
    transition: all 0.3s;
    box-sizing: border-box;
    position: relative;
    float: left;
    margin-top: 3px;
}

/* the first line of hamburger is rotated 45 degrees after the hamburger is clicked */
input[type=checkbox]:checked ~ .sidebarIconToggle > .part1 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(45deg);
    margin-top: 8px;
}

/* the second line of hamburger disappears after the hamburger is clicked */
input[type=checkbox]:checked ~ .sidebarIconToggle > .part2 {
    transition: all 0.3s;
    box-sizing: border-box;
    opacity: 0;
}

/* the third line of hamburger is rotated -45 degrees after the hamburger is clicked */
input[type=checkbox]:checked ~ .sidebarIconToggle > .part3 {
    transition: all 0.3s;
    box-sizing: border-box;
    transform: rotate(-45deg);
    margin-top: -9px;
}